body 
{
    color: Red;
    font-family:@SimSun;
}

#Encabezado
{
    background-color:Gray;width:1024px; height:60px; color:Lime;border-style:groove;border-color:Silver; 
    }
    
  
  
#Cuerpo
{
    background-color:gray; width:1024px; height:600px; color:White;border-style:groove;border-color:Silver;
    }  
    
 #Pie
 {
     background-color:gray;width:1024px; height:25px; color:Orange;border-style:groove;border-color:Silver;
     
     }

p
{
    color:White; font-family:Castellar;
    }
